<div class="card-body position-relative msg_card_body">
  <div class="position-relative d-flex justify-content-end flex-row-reverse mb-4 msg-<%= message.user.id %>">
    <div class="msg_container bg-secondary bg-light bg-gradient min-w-50 border">
      <div>
        <%= message.body %>
      </div>
      <span class="msg_time text-muted"><%= l(message.created_at, format: :short) %></span>
      <% unless message.room.is_private %>
        <span class="msg_author text-muted"><%= message.user.email %></span>
      <% end %>
    </div>
    <div class="img_cont_msg">
      <%= image_tag(user_avatar(message.user), class: 'rounded-circle user_img_msg w-100 h-100')%>
    </div>
  </div>
</div>
